etc/rest/external/metamac-statistical-resources-rest-external-domain-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
    targetNamespace="http://www.siemac.org/metamac/rest/statistical-resources/v1.0/domain" 
    xmlns:tns="http://www.siemac.org/metamac/rest/statistical-resources/v1.0/domain"
    xmlns:common="http://www.siemac.org/metamac/rest/common/v1.0/domain">

    <xs:import namespace="http://www.siemac.org/metamac/rest/common/v1.0/domain" schemaLocation="metamac-rest-api:metamac-rest-common-domain-v1.0.xsd" />

    <xs:complexType name="Dataset">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="urn" type="xs:string" />
            <xs:element name="selfLink" type="common:ResourceLink" />
            <xs:element name="parentLink" type="common:ResourceLink" />
            <xs:element name="childLinks" type="common:ChildLinks" minOccurs="1" />
            <xs:element name="name" type="common:InternationalString" />
            <xs:element name="selectedLanguages" type="tns:Languages" minOccurs="1" />
            <xs:element name="metadata" type="tns:DatasetMetadata" />
            <xs:element name="data" type="tns:DatasetData" />
        </xs:sequence>
        <xs:attribute name="kind" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="Languages">
        <xs:sequence>
            <xs:element name="language" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="required"/>
    </xs:complexType> 
    
    <xs:complexType name="DatasetMetadata">
        <xs:sequence>
            <xs:element name="dataStructureDefinition" type="tns:DataStructureDefinition" />
            <xs:element name="dimensions" type="tns:Dimensions" />
        </xs:sequence>
    </xs:complexType>  
    
    <xs:complexType name="DatasetData">
        <xs:sequence>
            <xs:element name="dimensions" type="tns:DimensionRepresentations" />
            <xs:element name="observations" type="xs:string" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>   
    
    <xs:complexType name="DimensionRepresentations">
        <xs:sequence>
            <xs:element name="dimension" type="tns:DimensionRepresentation" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="required"/>
    </xs:complexType> 
    
    <xs:complexType name="DimensionRepresentation">
        <xs:sequence>
            <xs:element name="dimensionId" type="xs:string" />
            <xs:element name="representations" type="tns:CodeRepresentations" minOccurs="1" />
        </xs:sequence>
    </xs:complexType> 
    
    <xs:complexType name="CodeRepresentations">
        <xs:sequence>
            <xs:element name="representation" type="tns:CodeRepresentation" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="required"/>
    </xs:complexType>     
    
    <xs:complexType name="CodeRepresentation">
        <xs:attribute name="code" type="xs:string" use="required"/>
        <xs:attribute name="index" type="xs:long" use="required"/>
    </xs:complexType>  
            
    <xs:complexType name="DataStructureDefinition">
        <xs:complexContent>
            <xs:extension base="common:Resource">
                <xs:sequence>
                    <xs:element name="heading" type="tns:DimensionsId" />
                    <xs:element name="stub" type="tns:DimensionsId"  />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>   
    
    <xs:complexType name="DimensionsId">
        <xs:sequence>
            <xs:element name="dimensionId" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="required"/>
    </xs:complexType>    
    
    <xs:complexType name="Dimensions">
        <xs:sequence>
            <xs:element name="dimension" type="tns:Dimension" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="required"/>
    </xs:complexType> 
        
    <xs:complexType name="Dimension">
        <xs:sequence>
            <xs:element name="id" type="xs:string" />
            <xs:element name="name" type="common:InternationalString" />
            <xs:element name="type" type="tns:DimensionType" />
            <xs:element name="dimensionCodes" type="tns:DimensionCodes" />
        </xs:sequence>
    </xs:complexType>      
    
    <xs:complexType name="DimensionCodes">
        <xs:sequence>
            <xs:element name="dimensionCode" type="tns:DimensionCode" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="total" type="xs:unsignedLong" use="required"/>
    </xs:complexType> 
    
    <xs:complexType name="DimensionCode">
        <xs:complexContent>
            <xs:extension base="common:Resource">
                <xs:sequence>
                    <xs:element name="parent" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>      
    
    <!-- Enums -->
    <xs:simpleType name="DimensionType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="MEASURE_DIMENSION" />
            <xs:enumeration value="TIME_DIMENSION" />
            <xs:enumeration value="GEOGRAPHIC_DIMENSION" />
            <xs:enumeration value="DIMENSION" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- Elements -->
    <xs:element name="dataset" type="tns:Dataset" />
</xs:schema>